@import"reset.css";
body{
    font-family:Microsoft JhengHei;
}

.wrap{
	margin: 0 auto;
	width: 368px;
	box-shadow: 0px 0px 20px rgba(38, 38, 38, 0.2);
    border-radius:16px 16px 16px 16px;
	background: #F7F8FA;
}

.bar{
	background: #293A3D;
	padding: 11px 0 11px 31px;
	border-radius:16px 16px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bar-img-top{
	width:68px;
}
.bar-img-down{
	width: 20px;
	margin:0 21.76px 0 0;
}

.banner{
	font-size: 22px;
	font-weight: 700;
	line-height: 140%;
	color:#293A3D;
	text-align: center;
	margin:24px 0 24px 0;
}
.content{
	margin:0 24px 24px 24px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.content-item{
	width:320px;
	height: 40px;
	color:#536166;
	margin:11px 0 20px 0;
	border-radius:8px;
	border: 1px solid #DBDBDB;

}
.next{
	display:flex;
	justify-content:center;
	align-items:center;
}
.next-item{
	width:320px;
	height: 40px;
	background-color:#16B9B3;
	color:#FFFFFF;
	border-radius:20px;
	border:#FFFFFF;
	box-shadow: 0px 4px 10px rgba(89, 182, 178, 0.5);

}
.footer{
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	padding: 14px 27px 14px 0;
	color:#536166;
	border-top:1px solid #DBDBDB;
	margin-top:24px;
}
.section{
	display: flex;
	justify-content:flex-end;
	align-items: center;
	padding:5px;
	
}
.section:hover{
	background-color:#DBDBDB ;
	border-radius:4px;
	margin-left:272px;
}
.user-icon{
	padding-right:10.5px;
}
	
	